

:root {
  --bg: #242627;
  --light-pink: #FFD0D0;
  --pink: #FF9EAA;
  --text-white: #F7F9F2;
  --fire: #EB5353;
  --water: #4D96FF;
  --earth: #36AE7C;
  --wind: #F7F48B;
  --magnifier: 6;
  --gap: 1vmin;
  --transition: 0.5s;
}

.invis {
  /* visibility: hidden; */
  opacity: 0;
}

html {
  scrollbar-width: none;
}

body {
  background-color: var(--bg);
}

* {
  padding: 0;
  margin: 0;
  border: none;
  box-sizing: border-box;
  interpolate-size: allow-keywords;
}

.main_logo {
  position: relative;
  transform: translateX(42pc) translateY(10pc);
  height: 130px;
  display: inline-flex;
  margin: auto;
  /* filter: invert(); */
}

.container {
  /* height: 100vh; */
  overflow-y: scroll;
  overflow-x: hidden;
  scrollbar-width: none;
  position: relative;
  /* scroll-snap-type: y mandatory; */
  z-index: 0;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  background: linear-gradient(109.6deg, rgb(0, 0, 0) 11.2%, rgb(11, 132, 145) 91.1%);
  background-size: cover;
}

.panel {
  height: 100vh;
  position: relative;
  /* scroll-snap-align: start; */
}

.p-container {
  margin: 100px;
}

p span {
  visibility: hidden;
}

.one {
  /* background-color: #FF3CAC;
  background-image: linear-gradient(225deg, #FF3CAC 0%, #784BA0 50%, #2B86C5 100%); */
  /* height: fit-content; */
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  /* background-size: 120%; */
  overflow-x: hidden;
  /* filter: grayscale(100%) invert(100%) */

}

.two {
  width: inherit;
  /* background-color: #36AE7C; */
}

.three {
  display: grid;
  place-items: center;
  /* background-color: #EB5353; */
  z-index: 3;
}

.welcome-header {
  /* background-color: rgb(247, 249, 242, .5); */
  width: max-content;
  margin: 10rem auto 0;
  text-align: center;
}

h2 {
  font-family: "Forum";
  font-size: 7rem;
  color: #F1DEDE;
  position: relative;
  left: 0rem;
}

h1 {
  font-family: "Bree Serif";
  font-size: 9rem;
  position: relative;
  top: -7rem;
  left: -.5rem;
  opacity: 1;
  display: inline-flex;
  color: #FE938C;
}

.word-forge {
  opacity: 1;
  left: 2.5rem;
}



.cards {
  opacity: 1;
  visibility: visible;
  position: relative;
  width: 100vh;
  background-color: transparent;
  z-index: 1;
  display: grid;
  /* justify-content: center; */
  /* align-items: center; */
  place-content: center;
  grid-template-areas: "stack";
  /* margin: auto; */
  top: -100px;
  left: 75px;
}

.card {
  width: 300px;
  height: 400px;
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 1rem;
  border-radius: 25px;
  box-shadow: 0px 20px 50px -10px rgba(0, 0, 0, 0.7);
}

.card:nth-child(2) {
  left: 40px;
  top: 40px;
}

.card:nth-child(3) {
  left: 80px;
  top: 80px;
}

.card:nth-child(4) {
  left: 120px;
  top: 40px;
}

.cards > * {
  grid-area: stack;
}

.card-head {
  background-color: #412234;
  color: #F7A278;
  font-family: "Forum";
  font-size: 2rem;
  width: inherit;
  padding: .7rem 1rem;
  border-radius: 25px 25px 0 0;
}

.card-body {
  background-color: #E2DCDE;
  color: #412234;
  font-family: "Inconsolata";
  font-weight: 300;
  font-size: 1.3rem;
  padding: 1.5rem;
  width: inherit;
  height: inherit;
  border-radius: 0 0 25px 25px;
  /* box-shadow: 8px 8px 0px #000000; */
}


.horizontal {
  height: inherit;
  display: flex;
  width: 200vh;
}

p {
  font-size: 3rem;
  /* background-color: #36AE7C; */
  width: max-content;
}

.fire {
  background-image: url("fire-bg.jpg");
  background-size: 100%;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.water {
  background-image: url("water-bg.jpg");
  background-size: 100%;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.wind {
  background-image: url("wind-bg.jpg");
  background-size: 100%;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.earth {
  background-image: url("earth-bg.jpg");
  background-size: 100%;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: right;
}

.img-grid {
  width: 80vw;
  overflow-x: clip;
  scrollbar-width: none;
  height: 50vmin;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--gap);
}

.img-grid img {
  --brightness: 0.75;
  --grayscale: 1;
  transition: flex var(--transition), filter var(--transition);
  height: 100%;
  filter: grayscale(var(--grayscale)) brightness(var(--brightness));
  object-fit: cover;
  overflow: hidden;
  flex: 1;
  opacity: 0;
  position: relative;
}

.img-grid img:hover {
  --brightness: 1.15;
  --grayscale: 0;
  flex: var(--magnifier);
}